<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<footer class="row footer">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 contacto">
        <h1 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Contactanos</h1>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 contactanos">
            <i class="fa fa-envelope" style="font-size: 2rem;"></i>
            <a href="mailto:rgbcompanyofficial@gmail.com" id="titulos"><span>rgbcompanyofficial@gmail.com</span></a>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 contactanos">
            <i class="fa fa-users" style="font-size: 2rem;"></i>
            <span [routerLink]="['/contacto']" id="titulos"> SOBRE NOSOTROS</span>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 contactanos">
            <i class="fa fa-shield" style="font-size: 2rem;"></i>
            <span [routerLink]="['/contacto']" id="titulos"> AVISO LEGAL</span>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
        <span id="copy">Copyright @ 2023 RGB Company</span>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center">
        <h1>Nuestras redes</h1>
        <div class="d-flex justify-content-center">
            <span><a href="https://www.tiktok.com/@rgbcompanyofficial"><svg xmlns="http://www.w3.org/2000/svg"
                        width="55" height="55" class="bi bi-tiktok" viewBox="0 0 16 16">
                        <path
                            d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3V0Z" />
                    </svg></a></span>
            <span><a href="https://twitter.com/CompanyRgb"><i class="fa fa-4x fa-twitter"
                        style="color: #005eff;"></i></a></span>
            <span><a href="https://www.facebook.com/RGBCompanyOfficial"><i class="fa fa-4x fa-facebook"
                        style="color: #015efe;"></i></a></span>
            <span><a href="https://www.instagram.com/rgb_company_official/"><i class="fa fa-4x fa-instagram"
                        style="color: #d303cc;"></i></a></span>
        </div>
    </div>
</footer>
