<div class="container-fluid panel">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-xl-3 navegacion">
      <a routerLink="/palquiler" routerLinkActive="active" class="boton-compra">Alquiler</a>
      <a routerLink="/cambia-avatar" routerLinkActive="active" class="boton-compra">Cambiar avatar</a>
      <a routerLink="/comprasPanel" routerLinkActive="active" class="boton-compra">Compras</a>
      <a routerLink="/metodos-pago" routerLinkActive="active" class="boton-compra">Mis métodos de pago</a>
      <a routerLink="/tu-carro" routerLinkActive="active" class="boton-compra">Tu carro</a>
      <a (click)="desconectar()" class="boton-compra desconectar">Desconectar</a>
    </div>
    <div class="col-sm-9 col-md-9 col-xl-9 contenido">
      <div class="col-sm-12 col-md-12 col-xl-12 contenido2">



      </div>
    </div>
  </div>
</div>
