<div class="container-fluid">
    <h1>Envio</h1>
    <p>Introduzca sus datos por favor.</p>
    <hr/>
    <form class="form">
    <div class="fields fields--2">
      <label class="field">
        <span class="field__label" for="firstname">Nombre</span>
        <input class="field__input" type="text" id="firstname"/>
      </label>
      <label class="field">
        <span class="field__label" for="lastname">Apellidos</span>
        <input class="field__input" type="text" id="lastname"/>
      </label>
    </div>
    <label class="field">
      <span class="field__label" for="address">Dirección Completa</span>
      <input class="field__input" type="text" id="address" />
    </label>
    <div class="fields fields--3">
      <label class="field">
        <span class="field__label" for="zipcode">Codigo Postal</span>
        <input class="field__input" type="text" id="zipcode" />
      </label>
      <label class="field">
        <span class="field__label" for="city">Ciudad</span>
        <input class="field__input" type="text" id="city" />
      </label>

    </div>
  </form>
    <hr>
    <button class="button" routerLink="/pagoTarjeta" >Continue</button>
  </div>