<!--<div class="container-fluid">
  <div class="row custom-row">
    <div class="col-12 col-md-6 col-lg-4 mb-md-0">
      <img src="{{producto[37].imagen}}" class="d-block w-100 carousel-image" id="imagenes">
    </div>

<div class="col-12 col-md-6 col-lg-8 mb-md-0 text-center custom-col">
 
    <h1 class="card-title custom-title">{{ producto[37].nombre }}</h1>
    <h5 class="card-text custom-text">{{ producto[37].precio }} €</h5>
  </div>
</div>



  <div class="row custom-row">
    <div class="col-12 col-md-6 col-lg-12 mb-md-0 text-center custom-col2">
      <h1 id="titulos">Características</h1>
      <h4 class="card-text">{{ producto[37].descripcion }}</h4>
      <h1 id="titulos"></h1>
    </div>
  </div>
</div>-->

<div class="container-fluid">
  <div class="row custom-row">
    <div class="col-12 col-md-12 col-lg-4 mb-md-0">
      <img src="{{imagen}}" class="d-block w-100 carousel-image" id="imagenes">
    </div>

    <div class="col-12 col-md-12 col-lg-8 mb-md-0 text-center custom-col">
      <h1 class="card-title custom-title">{{ nombre }}</h1>
      <h5 class="card-text custom-text">{{ precio }} €</h5>
    </div>
  </div>

  <div class="row custom-row">
    <div class="col-12 col-md-12 col-lg-12 mb-md-0 text-center custom-col2">
      <h1 id="titulos">Características</h1>
      <h4 class="card-text">{{ descripcion }}</h4>
      <h1 id="titulos"></h1>
    </div>
  </div>
</div>

